<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Trip Planner</title>
    
        <link rel="stylesheet" media="screen" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="/static/css/main.css">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD92Ym1qY92sMoaJWC_BiFrE8A_QAU9QMI&sensor=false"></script>
    <script src="/static/js/RoutesViewRenderer.js"></script>
    
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/bootstrapjs/bootstrap.min.js"></script>
   
  </head>
{% if not authenticated %}
<body onload="initializeMapOnly()">
{% else %}
  <body onload="initialize()">
{% endif %}

    <div class="navbar navbar-inverse topbar">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Trip Planner</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li ><a href="/">Plan new trip</a></li>
              <li class="active"><a href="#">Planned trips</a></li>
            </ul>
          </div><!--/.nav-collapse -->
              <form class="navbar-form pull-right">
	       {% if not authenticated %}
               <a href="/login" class="btn">Sign in</a>
               <a href="/register" class="btn">Register</a>
               {% else %}
	       <a href="/logout" class="btn">Log out</a>
	       {% endif %}
            </form>

        </div>
      </div>
    </div>

    <div class="container">

     <div class="content">
        <div class="page-header">
          <h1>Planned routes</h1>
        </div>

<table width = "100%" cellpadding = "10">
<tr>
<td width = "50%" valign = "top">

          <div class="span8">
                 <div id="map-canvas" style="width:100%; height:400px"></div>
          </div>
</td>

<td width = "50%" valign = "top">

<div class = "well" id = "current_display_route">
{% if not authenticated %}
<h4><small>Please log in to view your routes.</small></h4>
{% else %}
<h4><small>Click on a specific trip to view detail.</small></h4>
{% endif %}

 </div>  
</td>
</tr>
</table>

<div id="route_display_panel" class="span13">


     </div>
   </div>

  </body>
</html>
